.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

// html{
//     body{
//         overflow-x: hidden;
//         overflow-y: scroll;
//     }
// }



// body{
//     overflow-x: hidden ;
// }

*{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
}


.fade{
    position: absolute;
    transition: all .3s;
  }