
$secondFont: 'Neutral Face', sans-serif;
$mainFont: 'Montserrat', sans-serif;

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .part_page{
        width: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    & > :last-child{
        align-items: flex-end;
        img{
            width: 386px;
            height: 462px;
        }
    }


    .contacts_logo{
        position: relative;
        p{
            font-family: $mainFont;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 42px;
            color: #000000;
            position: absolute;
            top: 0px;
            left: 0;
            top: 146px;
            left: -7px;
            background: white;
        }
    }

    .service{
        h1{
            font-family: $mainFont;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 30px;
        }
        p{
            font-family: $mainFont;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.015em;
            font-variant: small-caps;
            color: #000000;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1200px) {
    .contacts{
        position: relative;
        padding: 0 5%;
        & > :last-child{
            img{
                width: 220.84px;
                height: 264.32px;
            }
        }
        .contacts_logo{
            p{
                font-size: 22px;
                line-height: 23px;
                top: 90px;
            }
            img{
                width: 166.49px;
                height: 117.29px;
            }
        }
        .service{
            h1{
                font-size: 14px;
                line-height: 17px
            }
            p{
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
}

@media (max-width: 600px) {
    .contacts{
        position: relative;
        padding: 0 5%;
        &:last-child {
            width: 0%;
        }
        .contacts_logo{
            p{
                font-size: 22px;
                line-height: 23px;
                top: 90px;
            }
            img{
                width: 166.49px;
                height: 117.29px;
            }
        }
        .service{
            h1{
                font-size: 14px;
                line-height: 17px
            }
            p{
                font-size: 11px;
                line-height: 13px;
            }
        }
    }
}