$secondFont: 'Neutral Face', sans-serif;
$mainFont: 'Montserrat', sans-serif;
$secondBackground: #1E1E1E;
$mainBackground: #fff;

// .sun-container {
//     width: 128px;
//     height: 128px;
  
//     animation: in 2s linear 0s infinite reverse;
//     animation-play-state: paused;
//   }
  
//   .sun-icon {
//     animation: in 4s linear 0s infinite normal;
//   }
  
//   .sun-container:hover {
//     animation-play-state: running;
//   }
  
//   @keyframes in {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(-360deg);
//     }
//   }


.main_page{
    .more{
        &:hover {
            .text_more {
                transform: rotate(60deg);
            }
        
            .arrow_more {
                left: 25px
            }
        }
        
    }
}

.text_more {
transition: transform .3s ease-in-out;
}

.main_page{
    display: flex;
    flex-direction: column;
    align-items: center;

    .card_wrapper{
        width: 330px;
    }

    h1{
        font-weight: 400;
        font-size: 56px;
        font-family: $secondFont;
        width: 580px;
    }

    .more_wrapper{
        width: 243px;
        height: 553px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .more{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        .arrow_more{
            position: absolute;
            transition: all .3s;
            top: 77px;
            left: 10px;
        }
    }

    .best_care{
        display: flex;
        flex-direction: row;
        margin: 100px 0;

        & * {
            font-family: $mainFont;
        }

        & > div{
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        .firstPart{
            justify-content: space-between;

            .firstPart_top{
                p{
                    width: 100%;
                    font-size: 20px;
                }
            }

            .firstPart_bottom{
                display: flex;
                font-display: column;
                align-items: center;
                justify-content: flex-start;

                p{
                    font-weight: 500;
                    font-size: 20px;
                    font-family: $mainFont;
                    line-height: 24px;
                    letter-spacing: 0.015em;
                    text-transform: uppercase;
                    margin: 0 15px 8px 0;
                }
            }
        }

        .secondPart{
            align-items: flex-end;
            img{
                margin-top: 130px;
                width: 540px;
                height: 540px;
            }

            p{
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.375em;
                text-transform: uppercase;  
                color: #6B6B6B;
            }
        }
    }

    .goal_wrapper{
        background-color: $secondBackground;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        
        .goal{
            max-width: 1140px;
            & > div {
                display: flex;
                align-items: center;
            }
        }
        p{
            font-family: $mainFont;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 161.3%;
            text-align: center;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 0.015em;
            font-variant: small-caps;
            color: #FFFFFF;
        }
    }

    .bestSellers{
        margin: 70px 0 150px 0;
        h1{
            width: 100%;
            text-align: center;
            margin-bottom: 70px;
        }
    }

    .cardItems_wrapper{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;
    }


    .questions{
        background: #1E1E1E;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .questions_wrapper{
            width: 1200px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            // align-items: center;
            justify-content: space-between;
            padding: 100px 0;
            & > *{
                width: 45%;
            }

            .questions_part{
                height: 100%;
                display: flex;
                align-items: start;
                flex-direction: column;
            }

            & > img{
                border-radius: 100%;
                border: 2px solid #1E1E1E;
                width: 517px;
                height: 657px;

                background: red;
            }

            h1{
                font-family: $secondFont;
                font-weight: 400;
                font-size:40px;
                line-height: 42px;
                color: #FFFFFF;
            }

            ul{
                display: block;
                list-style-type: none;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 0px;
                li{
                    & > div{
                       display: flex;
                       flex-direction: row;
                       align-items: center; 
                       justify-content: space-between;
                       & > p{
                        font-family: $mainFont;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.015em;
                        text-transform: uppercase;
                        color: #fff;
                        margin-top: 25px;
                       }

                       .arrow_questions{
                            width: 30px;
                            height: 30px;
                            img{
                                transition: all .3s;
                                width: 100%;
                                transform: rotate(-90deg);
                                height: 100%;
                            }
                       }
                       .arrow_questions_closed{
                            img{
                                transform: rotate(0deg);
                            }
                        }
                    }
                    .outline{                 
                        height: 1px;
                        width: 100%;
                        margin-top: 10px;
                        background-color: #fff;
                    }

                    .dropDownList_text{
                        flex-direction: column;
                        transition: all .3s;
                        max-height: 300px;
                        overflow: hidden;
                        & > p {                  
                            font-family: $mainFont;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.015em;
                            text-transform: uppercase;
                            color: #fff;
                            margin: 25px 0;
                        }
                    }

                    .dropDownList_closed{
                        max-height: 0px;
                        overflow: hidden;
                    }
                }
            } 
        }   
    }

    .followUs{
        margin: 160px 0;
        display: flex;
        justify-content: space-between;
        width: 1200px;
        gap: 20px;

        .followUs_part{
            img{
                margin-top: 16px;
            }

            div{
                height: 240px;
                display: flex;
                align-items: center;
            }

            .followUs_part_text{
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                p{
                    margin: 40px 0 30px 0;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.375em;
                    color: #6B6B6B;
                    text-transform: uppercase;
                }

                a{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 29px;
                    line-height: 35px;
                    letter-spacing: 0.375em;
                    text-transform: uppercase;   
                    color: #1E1E1E;
                    flex: none;
                    order: 1;
                    flex-grow: 0; 
                }
            }
        }
        .more{
            // margin-top: 45px;
            .arrow_more{
                transform: rotate(-38deg);
                left: 95px;
                top: 100px;
            }
        }
    }
}

@media (max-width: 1200px) {
.main_page{
    width: 100%;
    overflow: hidden;

    .card_wrapper{
        width: 330px;
    }

    h1{
        font-size: 32px;
        width: 328px;
    }

    .more_wrapper{
        width: 243px;
        height: 553px;
    }

    .more{
        .text_more{
            width: 100px;
            height: 100px;
        }
        .arrow_more{
            top: 80px;
            width: 58px;
        }
    }

    .best_care{
        width: 100%;
        .firstPart{
            .firstPart_top{
                p{
                    width: 330px;
                    font-size: 12px;
                }
            }

            .firstPart_bottom{
                p{
                    font-size: 12px;
                    font-family: $mainFont;
                    line-height: 24px;
                    letter-spacing: 0.015em;
                    text-transform: uppercase;
                    margin: 0 15px 8px 0;
                }
            }
        }

        .secondPart{
            img{
                width: 310px;
                height: 310px;
            }

            p{
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    .goal_wrapper{
        height: 200px;
        width: 100vw;
        
        .goal{
            max-width: 1140px;
            & > div {
                img{
                    width: 54px;
                    height: 54px;
                }
            }
        }
        p{
            font-size: 22px;
        }
    }

    .questions{
        .questions_wrapper{
            padding: 5% 5%;
            & > *{
                width: 45%;
            }

            .questions_part{
                height: 100%;
            }

            & > img{
                width: 294px;
                height: 374px;

                background: red;
            }

            h1{
                font-size:20px;
            }

            ul{
                display: block;
                list-style-type: none;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 0px;
                li{
                    & > div{
                            display: flex;
                           flex-direction: row;
                           align-items: flex-end; 
                           justify-content: space-between;
                        & > p{
                            font-family: $mainFont;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0.015em;
                            text-transform: uppercase;
                            color: #fff;
                            // margin-top: 25px;
                        }

                        .arrow_questions{
                            width: 16px;
                            height: 16px;
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;
                            img{
                                transition: all .3s;
                                width: 16px;
                                transform: rotate(-90deg);
                                height: 16px;
                            }
                        }
                        .arrow_questions_closed{
                            img{
                                transform: rotate(0deg);
                            }
                        }
                    }
                    .outline{                 
                        height: 1px;
                        width: 100%;
                        margin-top: 10px;
                        background-color: #fff;
                    }

                    .dropDownList_text{
                        flex-direction: column;
                        transition: all .3s;
                        max-height: 300px;
                        overflow: hidden;
                        & > p {                  
                            font-family: $mainFont;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.015em;
                            text-transform: uppercase;
                            color: #fff;
                            margin: 25px 0;
                        }
                    }

                    .dropDownList_closed{
                        max-height: 0px;
                        overflow: hidden;
                    }
                }
            } 
        }   
    }

    .followUs{
        margin: 160px 0;
        display: flex;
        justify-content: space-between;
        width: 1200px;
        gap: 20px;

        .followUs_part{
            img{
                margin-top: 16px;
            }

            div{
                height: 240px;
                display: flex;
                align-items: center;
            }

            .followUs_part_text{
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                p{
                    margin: 40px 0 30px 0;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.375em;
                    color: #6B6B6B;
                    text-transform: uppercase;
                }

                a{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 29px;
                    line-height: 35px;
                    letter-spacing: 0.375em;
                    text-transform: uppercase;   
                    color: #1E1E1E;
                    flex: none;
                    order: 1;
                    flex-grow: 0; 
                }
            }
        }
        .more{
            // margin-top: 45px;
            .arrow_more{
                transform: rotate(-38deg);
                left: 100px;
                top: 95px;
            }
        }
    }
}
}

@media (max-width: 600px) {
    .main_page{
        .more{
            // width: 200px;
            display: flex;
            justify-content: center;
            .arrow_more{
                transform: rotate(90deg);
                left: auto;
                top: 80px;
            }

            .text_more{
                width: 200px;
                height: 200px;
            }
        }

            .more{
                &:hover {
                    .text_more {
                        transform: rotate(60deg);
                    }
                
                    .arrow_more {
                        left: auto;
                        top: 85px;
                    }
                }
                
            }

        .more_wrapper{
            width: 100%;
            height: 250px;
        }

        .mainPhoto{
            img{
                width: 100vw;
                height: 100vw;
            }
        }
        h1{
            font-size: 24px;
            width: 100%;
            text-align: center;
        }

        
        .best_care{
            flex-direction: column;
            margin: 0;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & > div{
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .firstPart{
                justify-content: space-between;
    
                .firstPart_top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    p{
                        width: 90%;
                        text-align: center;
                        font-size: 20px;
                    }
                }
    
                .firstPart_bottom{
                    display: flex;
                    font-display: column;
                    align-items: center;
                    justify-content: flex-start;
    
                    p{
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }
            }
           
        }

        
    
        .goal_wrapper{
            width: 100vw;
            height: 200px;
            
            .goal{
                max-width: 100%;
                display: flex;
                justify-content: center;
                & > div {
                    display: flex;
                    align-items: center;
                }
            }
            p{
                font-size: 16px;
                font-variant: small-caps;
            }
        }

        .bestSellers{
            margin: 50px 0;
        }

        .questions{
            width: 100vw;
            flex-wrap: wrap;
            justify-content: center;
            .questions_wrapper{
                width: 100%;
                flex-wrap: wrap;
                flex-direction: row;
                // align-items: center;
                justify-content: center;
                padding: 100px 0;
                & > *{
                    width: 90%;
                }
    
                .questions_part{
                    height: 80%;
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                }
    
                & > img{
                    border-radius: 300px;
                    border: 2px solid #1E1E1E;
                    width: 294.4px;
                    height: 374.13px;
                }
    
                h1{
                    width: 100%;
                    font-family: $secondFont;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 26px;
                    color: #FFFFFF;
                }
    
                ul{
                    display: block;
                    list-style-type: none;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 0px;
                    li{
                        & > div{
                           display: flex;
                           flex-direction: row;
                           align-items: flex-end; 
                           justify-content: space-between;
                           & > p{
                            font-family: $mainFont;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 29px;
                            letter-spacing: 0.015em;
                            text-transform: uppercase;
                            color: #fff;
                            // margin-top: 25px;
                           }
    
                           .arrow_questions{
                                width: 13px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                margin-bottom: 5px;
                                img{
                                    transition: all .3s;
                                    width: 100%;
                                    transform: rotate(-90deg);
                                    height: 100%;
                                }
                           }
                           .arrow_questions_closed{
                                img{
                                    transform: rotate(0deg);
                                }
                            }
                        }
                        .outline{                 
                            height: 1px;
                            width: 100%;
                            margin-top: 10px;
                            background-color: #fff;
                        }
    
                        .dropDownList_text{
                            flex-direction: column;
                            transition: all .3s;
                            max-height: 300px;
                            overflow: hidden;
                            & > p {                  
                                font-family: $mainFont;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 20px;
                                letter-spacing: 0.015em;
                                text-transform: uppercase;
                                color: #fff;
                                margin: 25px 0;
                            }
                        }
    
                        .dropDownList_closed{
                            max-height: 0px;
                            overflow: hidden;
                        }
                    }
                } 
            }   
        }
    }
}

// .slick-slide{
//     background: red;
// }

// .slide{
//     background: blue;
// }

.slick-slider{
    width: 100vw;
    .slick-track{
        height: 560px;
    }
    .slick-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .slick-dots li button {
    //     background: red;
    //     color: blue;
    // }
    // .slick-dots li button:before
    // {
    //     font-family: 'slick';
    //     font-size: 6px;
    //     line-height: 20px;
    // }
    // .slick-dots li button:before
    // {
    //     font-size: 20px;
    //     line-height: 20px;
    //     background: red;
    // } 
   
}
